<div class="container mt-5 mb-4 ml-5 ess-ds">
    <div class="row ">
        <div class=" col-md-12 ">
            <form class="ess-form" [formGroup]="postForm" (submit)="submit()">
                <div class="row left">
                    <div class="col col-md-6">
                        <div class="col">
                            <mat-form-field class="ess-input-full">
                                <mat-label>Correo electronico</mat-label>
                                <input matInput placeholder="Correo electronico" formControlName="correo" />
                                <small class="form-text text-muted" *ngIf="
                    postForm.get('correo').touched &&
                    postForm.get('correo').hasError('required')
                  ">Este campo es requerido.</small
                >
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="ess-input-full">
                <mat-label>Facebook</mat-label>
                <input
                  matInput
                  placeholder="Liga de Facebook"
                  formControlName="facebook"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="ess-input-full">
                <mat-label>Instagram</mat-label>
                <input
                  matInput
                  placeholder="Instagram"
                  formControlName="insta"
                />


              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="ess-input-full">
                <mat-label>Pagina Web</mat-label>
                <input
                  matInput
                  placeholder="Indica la liga de tu LinkedIn, Twitter, etc."
                  formControlName="red"
                />

              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="ess-input-full">
                <mat-label>Teléfono</mat-label>
                <input
                  matInput
                  placeholder="10 dígitos"
                  formControlName="telefono"
                />
                <small
                  class="form-text text-muted"
                  *ngIf="
                    postForm.get('telefono').touched &&
                    postForm.get('telefono').hasError('required')
                  "
                  >Este campo es requerido.</small
                >
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="ess-input-full">
                <mat-label>WhatsApp de tu negocio</mat-label>
                <input
                  matInput
                  placeholder="+ 52 1"
                  formControlName="telefonoW"
                />

              </mat-form-field>
            </div>


          </div>
        </div>
        <div class="row pl-3 pb-4 pt-4">
          <div class="col">
            <button
            class="button_direccion m-3"
            mat-stroked-button
            color="primary"
            class="button_Actualizar"
            [disabled]="!postForm.valid"
          >
          ACTUALIZAR
          </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
