<div class="container-fluid">
  <div class="row pt-4 pr-5">
    <div class="col-xl-4 mb-3" *ngFor="let producto of productData">
      <ng-container>
        <!--Contenedor para hacer dinamicas las cards-->
        <mat-card class="ess-productCard">
          <a [routerLink]="['/editar-producto/'+ producto._id]"><img class="ess-productedit img-fluid"
              src="../../../../assets/edit.png" /></a>
          <img mat-card-image src="{{producto.pictures[0].route}}" alt="">
          <mat-card-content>
            <a [routerLink]="['/productos/'+producto._id+'/'+producto.socialEnterpriseKey]">
              <h2 class="text-left">{{producto.whatIsIt}}</h2>
            </a>
            <p class="text-left">
              {{producto.whereItIs}}
            </p>
          </mat-card-content>
          <mat-card-actions>

          </mat-card-actions>
          <div class="row justify-content-center">
            <div class="col text-center">
              <div class="row">
                <div class="col">
                  <button *ngIf="producto.aprovedItem == 'false'" class="img-b"
                    alt="">PRODUCTO NO APROBADO</button>
                </div>
              </div>

              <div class="row justify-content-center pl-3">
                <div class="col justify-content-center">
                  <p class="ess-noAprobado" *ngIf="producto.aprovedItem == 'false'">

                    ¿Qué pudó salir mal?
                    <button class="btn" matTooltip="Texto Falso" matTooltipPosition="above">
                      <mat-icon aria-hidden="false" aria-label="icon">help</mat-icon>
                    </button>
                  </p>
                </div>

              </div>

              <button *ngIf="producto.aprovedItem == '' " class="img-b">PENDIENTE DE APROBACIÓN</button>
            </div>

          </div>
          <div *ngIf="producto.aprovedItem == 'true'">
            <div class="row justify-content-left">
              <div *ngFor="let cert of producto.features">
                <div class="col">
                  <img class="ess-cert" src="{{cert.pictureRoute}}" alt="">
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </ng-container>
    </div>
    <div class="col-xl-4 mb-3 p-3">
      <button class="ess-add" [routerLink]="['/producto-servicio']">
        <p class="ess-cross mb-5">+</p>
        <p class="ess-add-text">AGREGAR PRODUCTO</p>
      </button>
    </div>
  </div>
</div>
