.button-form {
    //Tamaño del btn
    min-width: 184px;
    min-height: 38px;
    width: auto;
    height: auto;
    border-radius: 5px;
    //Aspecto visual del btn
    border: 1px solid black;
    color: black;
    background-color: white;
    //Texto en el btn
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    //Espacio del btn
    margin: 10px 0;
    margin-bottom: 10vh;
    //Btn Deshabilitado
    &:disabled {
        background-color: #E5E5E5;
        border: 1px solid #98989A;
        color: #98989A;
        cursor: not-allowed;
    }
    &:hover:enabled {
        background-color: #98989A;
        border: 1px solid #98989A;
        color: white;
    }
}
