<!--    Buscador    -->
<div class="row justify-content-around align-items-center text-center">
    <div class="col-md-3">
        <h1>Lista de posts</h1>
    </div>
    <div class="col-md-6">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="col-md-3">
        <a href="#">
            Crear post +
        </a>
    </div>
</div>

<!--    Línea divisora  -->
<div class="row">
    <div class="col-md-12">
        <div class="ess-divisor"></div>
    </div>
</div>

<!--    Encabezado de la tabla de posts  -->
<div class="row align-items-center ess-container-labels text-center">
    <div class="col-md-4">
        <h2>Título</h2>
    </div>
    <div class="col-md-2">
        <h2>Categoría</h2>
    </div>
    <div class="col-md-2">
        <h2>Etiquetas</h2>
    </div>
    <div class="col-md-2">
        <h2>Fecha</h2>
    </div>
    <div class="col-md-2">
        <h2>Acciones</h2>
    </div>
</div>



<!--    Tabla de posts  -->
<div class="row align-items-center ess-container-posts text-center">
    <div class="col-md-4 ess-post-titulo">
        Reconocimeinto a Cooperativa Juanita  y la inclusión social de Jovenes en PYMES...
    </div>
    <div class="col-md-2 ess-post-categoria">
        Testimonios
    </div>
    <div class="col-md-2 ess-post-etiqueta">
        Economías locales
    </div>
    <div class="col-md-2 ess-post-fecha">
        10 - 03 -2021
    </div>
    <div class="col-md-2 ess-post-acciones">
        <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="bi bi-pencil"></i></button>
        <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar"><i class="bi bi-eye"></i></button>
        <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="bi bi-trash"></i></button>
    </div>
</div>


<!--    Tabla de posts  -->
<div class="row align-items-center ess-container-posts text-center">
    <div class="col-md-4 ess-post-titulo">
        Reconocimeinto a Cooperativa Juanita  y la inclusión social de Jovenes en PYMES...
    </div>
    <div class="col-md-2 ess-post-categoria">
        Testimonios
    </div>
    <div class="col-md-2 ess-post-etiqueta">
        Economías locales
    </div>
    <div class="col-md-2 ess-post-fecha">
        10 - 03 -2021
    </div>
    <div class="col-md-2 ess-post-acciones">
        <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="bi bi-pencil"></i></button>
        <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar"><i class="bi bi-eye"></i></button>
        <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="bi bi-trash"></i></button>
    </div>
</div>


<!--    Tabla de posts  -->
<div class="row align-items-center ess-container-posts text-center">
    <div class="col-md-4 ess-post-titulo">
        Reconocimeinto a Cooperativa Juanita  y la inclusión social de Jovenes en PYMES...
    </div>
    <div class="col-md-2 ess-post-categoria">
        Testimonios
    </div>
    <div class="col-md-2 ess-post-etiqueta">
        Economías locales
    </div>
    <div class="col-md-2 ess-post-fecha">
        10 - 03 -2021
    </div>
    <div class="col-md-2 ess-post-acciones">
        <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="bi bi-pencil"></i></button>
        <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar"><i class="bi bi-eye"></i></button>
        <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="bi bi-trash"></i></button>
    </div>
</div>