<div class="container mt-5">
  <div class="row pt-3">
    <div class="col">
      <form class="text-center" [formGroup]="postForm" (submit)="submit()">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <mat-form-field class="ess-camposI">
              <mat-label>Contraseña Actual </mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="contrasena"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <small
                class="form-text text-muted"
                *ngIf="
                  postForm.get('Nucontrasena').touched &&
                  postForm.get('Nucontrasena').hasError('required')
                "
                style="width: 40vw"
                >Este campo es requerido.</small
              >
              <small
                class="form-text text-muted"
                *ngIf="
                  postForm.get('Nucontrasena').touched &&
                  postForm.get('Nucontrasena').hasError('invalidPassword')
                "
                style="width: 40vw"
                >Revisa tu contraseña
              </small>

              <mat-hint style="font-size: 9px"
                >Ingresa al menos 8 carácteres, una mayuscúla y
                número.</mat-hint
              >
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-5 text-left">
            <a role="button" (click)="recupe()">Olvidé mi contraseña</a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-5">
            <mat-form-field class="ess-camposI">
              <mat-label>Contraseña NUEVA</mat-label>
              <input
                matInput
                [type]="hide2 ? 'password' : 'text'"
                formControlName="Nucontrasena"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide2 = !hide2"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <small
                class="form-text text-muted"
                *ngIf="
                  postForm.get('Nucontrasena').touched &&
                  postForm.get('Nucontrasena').hasError('required')
                "
                style="width: 40vw"
                >Este campo es requerido.</small
              >
              <small
                class="form-text text-muted"
                *ngIf="
                  postForm.get('Nucontrasena').touched &&
                  postForm.get('Nucontrasena').hasError('invalidPassword')
                "
                style="width: 40vw"
                >Revisa tu contraseña
              </small>
              <mat-hint style="font-size: 9px"
                >Ingresa al menos 8 carácteres, una mayuscúla y
                número.</mat-hint
              >
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-5">
            <mat-form-field appearance="outline" class="ess-campos">
              <mat-label>Vuelve a escribir la nueva contraseña</mat-label>
              <input
                matInput
                [type]="hide2 ? 'password' : 'text'"
                formControlName="NuCcontrasena"
              />
              <small
                class="form-text text-muted"
                *ngIf="
                  postForm.get('NuCcontrasena').touched &&
                  postForm.get('NuCcontrasena').hasError('required')
                "
                >Este campo es requerido.</small
              >
              <small
                class="form-text text-muted"
                *ngIf="
                  postForm.get('NuCcontrasena').value !==
                  postForm.get('Nucontrasena').value
                "
                >Contraseñas no coinciden.</small
              >
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-5 text-left mt-3">
            <mat-checkbox class="mat-checkbox-inner-container">
              <small class="ess-textSize">
                He leído el aviso de privacidad y acepto los
                <a role="button" (click)="openDialog()"
                  ><u>terminos y condiciones</u></a
                >
              </small>
            </mat-checkbox>
          </div>
        </div>



        <div class="mb-2 pt-3">
          <button
            class="button_direccion"
            mat-stroked-button
            color="primary"
            [disabled]="!postForm.valid"
          >
            ACTUALIZAR
          </button>
        </div>
      </form>
      <div class="row" *ngIf="error">
        <div class="col text center">
          <p>Error en la contraseña</p>
        </div>
      </div>
    </div>
  </div>
</div>
