  .container {
    width: 60vw;
    margin: 20vh 20vw;

    p,
    th,
    a {
      font-family: "Montserrat-Regular";
    }

    h1 {
      font-family: "Montserrat-Bold";
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #000000;
      margin-bottom: 10vh;
    }

    p {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      align-items: center;
      text-align: justify;
      color: #000000;
      margin: 15px 0;
    }

    strong {
      font-family: "Montserrat-Bold";
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      text-align: justify;
      color: #000000;
      display: inline-block;
      margin: 5vh 0 0 0;
    }

    thead {
      th {
        font-family: "Montserrat-Bold";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        align-items: center;
        text-align: justify;
        color: #000000;
      }
    }

    tbody {
      th {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        align-items: center;
        color: #000000;
      }

      td {
        font-family: "Montserrat-Bold";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: justify;
        color: #000000;
      }
    }

    table {
      margin: 8vh auto;
    }

    ol,
    ul {
      li {
        margin: 10px 0;
      }
    }
  }


  //Css para tablets y celulares
  @media (max-width: 768px) {
    .container {
      width: 90vw;
      margin: 10vh 5vw;
    }
  }
