<app-nav></app-nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>AVISO DE PRIVACIDAD INTEGRAL</h1>

            <p>El Instituto Nacional de la Economía Social (INAES), órgano administrativo desconcentrado de la Secretaría de Bienestar, a
                través de la Coordinación General de Fomento y Desarrollo Empresarial y la Coordinación General de Impulso Productivo de la
                Mujer y Grupos Vulnerables, , con domicilio en 2da. Cerrada de Belisario Domínguez número 40, Colonia Del Carmen,
                Coyoacán, Ciudad de México, CP. 04100, Ciudad de México, México, es el responsable del tratamiento de los datos personales
                que nos proporcione, los cuales serán protegidos conforme a lo dispuesto por la Ley General de Protección de Datos Personales
                en Posesión de Sujetos Obligados, y demás normatividad que resulte aplicable.</p>

            <strong>¿Qué datos personales solicitamos y para qué fines?</strong>
            <p>Los datos personales que solicitamos los utilizaremos para las siguientes finalidades:</p>
            
            <table class="table table-borderless col-md-10 offset-md-1">
                <thead>
                    <tr>
                    <th scope="col">Finalidad</th>
                    <th scope="col">¿Requieren consentimiento del titular?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">A) Datos personales de las EESS.- Se recabarán datos personales para mantener actualizados sus datos en el Directorio del INAES.</th>
                    <td>No</td>
                    </tr>
                    <tr>
                    <th scope="row">B) De las personas que se suscribirán al boletín informativo de DESARROLLA.- Se recabarán datos para hacer llegar el boletín informativo de la Plataforma DESARROLLA.</th>
                    <td>No</td>
                    </tr>
                    <tr>
                    <th scope="row">C) De las personas calificarán una EESS u emitirán una opinión sobre ésta.- Se recabarán datos para verificar la existencia (no bots) de quienes califiquen una EESS, o emitan sus comentarios respecto.</th>
                    <td>No</td>
                    </tr>
                </tbody>
                </table>
            

            <strong>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, se solicitarán los siguientes datos personales:</strong>
            <ul>
                <li>Nombre</li>
                <li>Teléfono particular</li>
                <li>Teléfono celular</li>
                <li>Correo electrónico</li>
                <li>Domicilio de trabajo</li>
                <li>Se requieren sólo en caso de actualización.</li>
            </ul>
            <p>Se informa que no se solicitarán datos personales sensibles.</p>


            <strong>¿Con quién compartimos su información personal y para qué fines?</strong>
            <p> Se informa que no se realizarán transferencias de datos personales, salvo aquéllas que sean necesarias para atender requerimientos
            de información de una autoridad competente, que estén debidamente fundados y motivados.
            Si desea conocer nuestro aviso de privacidad integral, lo podrá consultar en el siguiente <a href="http://transparencia.inaes.gob.mx/Datos%20personales.html" target="_blank">portal</a></p>

            <strong>¿Cuál es el fundamento para el tratamiento de datos personales?</strong>
            <p>La Coordinación General de Fomento y Desarrollo Empresarial y la Coordinación General de Impulso Productivo de la Mujer y
                Grupos Vulnerables del INAES, tratan los datos personales antes señalados con fundamento en los artículos 6° Base A y 16
                segundo párrafo de la Constitución Política de los Estados Unidos Mexicanos; 3, fracción XXXIII, 4, 16, 17 y 18 de la Ley
                General de Protección de Datos Personales en Posesión de Sujetos Obligados; 32, fracción XXV, de la Ley Orgánica de la
                Administración Pública Federal; 2, letra B numeral 1 Bis, 37, fracción XXVI, 42 Bis del Reglamento Interior de la Secretaría de
                Desarrollo Social (hoy Secretaría de Bienestar. DOF 24-VIII-2012, última reforma DOF 24-04-2018); así como 16, fracción X,
                22, fracción XII, del Acuerdo de organización y funcionamiento del Instituto Nacional de la Economía Social (DOF 31-V-2018).</p>

            <strong>¿Dónde puedo ejercer mis derechos ARCO?</strong>
            <p>La Coordinación General de Fomento y Desarrollo Empresarial y la Coordinación General de Impulso Productivo de la Mujer y
                Grupos Vulnerables del INAES, tratan los datos personales antes señalados con fundamento en los artículos 6° Base A y 16
                segundo párrafo de la Constitución Política de los Estados Unidos Mexicanos; 3, fracción XXXIII, 4, 16, 17 y 18 de la Ley
                General de Protección de Datos Personales en Posesión de Sujetos Obligados; 32, fracción XXV, de la Ley Orgánica de la
                Administración Pública Federal; 2, letra B numeral 1 Bis, 37, fracción XXVI, 42 Bis del Reglamento Interior de la Secretaría de
                Desarrollo Social (hoy Secretaría de Bienestar. DOF 24-VIII-2012, última reforma DOF 24-04-2018); así como 16, fracción X,
                22, fracción XII, del Acuerdo de organización y funcionamiento del Instituto Nacional de la Economía Social (DOF 31-V-2018).</p>

            <strong>¿Dónde puedo ejercer mis derechos ARCO?</strong>
            <p>Usted podrá presentar su solicitud para el ejercicio de los derechos de acceso, rectificación, cancelación u oposición de sus datos
                personales (derechos ARCO) directamente ante nuestra Unidad de Transparencia, cuyos datos de contacto son los siguientes:</p>
                <ol type="A">
                    <li>Nombre de su titular: César Escalona Fabila</li>
                    <li>Domicilio: 2da. Cerrada de Belisario Domínguez número 40, Colonia Del Carmen, Coyoacán, Ciudad de México, CP. 04100, Ciudad de México, México</li>
                    <li>Correo electrónico: <a href="mailto:cescalona@inaes.gob.mx">cescalona@inaes.gob.mx</a></li>
                    <li>Número telefónico y extensión: <a href="tel:5526364100">5526364100</a> ext. 4352</li>
                    <li>Otro dato de contacto:</li>
                </ol>
            <p>Asi mismo, usted podrá presentar una solicitud de ejercicio de derechos ARCO a través de la Plataforma Nacional de
                Transparencia, disponible en el siguiente <a href="http://www.plataformadetransparencia.org.mx" target="_blank" rel="noopener noreferrer">página web</a>, y a través de los siguientes medios:</p>

            <p>El titular de los datos podrá ejercer sus derechos ARCO personalmente ante las oficinas de la Coordinación General de Fomento y
                Desarrollo Empresarial o de la Coordinación General de Impulso Productivo de la Mujer y Grupos Vulnerables del INAES, ubicadas
                en 2da. Cerrada de Belisario Domínguez número 40, Colonia del Carmen, Alcaldía Coyoacán, Código Postal 04100, Ciudad de
                México.</p>

            <p>Si desea conocer el procedimiento para el ejercicio de estos derechos, puede acudir a la Unidad de Transparencia, o bien,
                ponemos a su disposición los siguientes medios:</p>

            <p>Para conocer el procecimiento para el ejercicio de los derechos ARCO, el interesado, a través del medio persencial, también
                podrá acudir a las oficinas de la Coordinación General de Fomento y Desarrollo Empresarial o de la Coordinación General de
                Impulso Productivo de la Mujer y Grupos Vulnerables del INAES.</p>

            <strong>¿Cómo puede conocer los cambios en este aviso de privacidad?</strong>
            <p>El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales
                o por otras causas.</p>

            <p>Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de: En
                caso de que existir una modificación a este aviso de privacidad, se notificará a través del propio <a href="http://transparencia.inaes.gob.mx/Datos%20personales.html" target="_blank" rel="noopener noreferrer">portal</a></p>

            <strong>Otros datos de contacto:</strong>
            <ol type="I">
                <li>
                    <a href="https://www.gob.mx/inaes" target="_blank">
                        Página de Internet
                    </a>
                </li>
                <li>
                    Correo electrónico para la atención del público en general: <a href="mailto:jfloresc@inaes.gob.mx">jfloresc@inaes.gob.mx</a>
                </li>
                <li>
                    Número telefónico para la atención del público en general: <a href="tel:5526364100">5526364100</a>
                </li>
            </ol>
        </div>
    </div>
</div>

