<div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
            <h1>AVISO DE PRIVACIDAD INTEGRAL</h1>

            <p>El Instituto Nacional de la Economía Social (INAES), órgano administrativo desconcentrado de la Secretaría de Bienestar, a
                través de la Coordinación General de Fomento y Desarrollo Empresarial y la Coordinación General de Impulso Productivo de la
                Mujer y Grupos Vulnerables, , con domicilio en 2da. Cerrada de Belisario Domínguez número 40, Colonia Del Carmen,
                Coyoacán, Ciudad de México, CP. 04100, Ciudad de México, México, es el responsable del tratamiento de los datos personales
                que nos proporcione, los cuales serán protegidos conforme a lo dispuesto por la Ley General de Protección de Datos Personales
                en Posesión de Sujetos Obligados, y demás normatividad que resulte aplicable.</p>

            <strong>¿Qué datos personales solicitamos y para qué fines?</strong>
            <p>Los datos personales que solicitamos los utilizaremos para las siguientes finalidades:</p>
            
            <table class="table table-borderless col-md-10 offset-md-1">
                <thead>
                  <tr>
                    <th scope="col">Finalidad</th>
                    <th scope="col">¿Requieren consentimiento del titular?</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">A) Datos personales de las EESS.- Se recabarán datos personales para mantener actualizados sus datos en el Directorio del INAES.</th>
                    <td>No</td>
                  </tr>
                  <tr>
                    <th scope="row">B) De las personas que se suscribirán al boletín informativo de DESARROLLA.- Se recabarán datos para hacer llegar el boletín informativo de la Plataforma DESARROLLA.</th>
                    <td>No</td>
                  </tr>
                  <tr>
                    <th scope="row">C) De las personas calificarán una EESS u emitirán una opinión sobre ésta.- Se recabarán datos para verificar la existencia (no bots) de quienes califiquen una EESS, o emitan sus comentarios respecto.</th>
                    <td>No</td>
                  </tr>
                </tbody>
              </table>

            <strong>¿Con quién compartimos su información personal y para qué fines?</strong>
            <p> Se informa que no se realizarán transferencias de datos personales, salvo aquéllas que sean necesarias para atender requerimientos
            de información de una autoridad competente, que estén debidamente fundados y motivados.
            Si desea conocer nuestro aviso de privacidad integral, lo podrá consultar en el siguiente <a href="http://transparencia.inaes.gob.mx/Datos%20personales.html" target="_blank">portal</a></p>
        </div>
    </div>
</div>

