img{
    width: 100%;
    max-width: 150px;
    margin: 5vh 0;
}
.ess-divisor{
    height: 1px;
    background-color: black;
    width: 100%;
    margin: 0 0 5vh 0;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}