<div class="ess-container-related">
    <div class="ess-divisor"></div>
    <div class="row">
        <div class="col-md-6">
            <img src="https://via.placeholder.com/591x379" alt="">
            <p class="ess-text-title-post">
                -Cooperativa Gloría
            </p>
            <p class="ess-text-extract">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <div class="ess-container-tag">
                <a href="#">
                    Coopertaivas
                </a>
            </div>
            <div class="ess-container-tag">
                <a href="#">
                    Coopertaivas
                </a>
            </div>
            <div class="ess-container-tag">
                <a href="#">
                    Coopertaivas
                </a>
            </div>
            <div class="row">
                <div class="col-auto ml-auto">
                    <button>Ver más <img src="../../../../assets/blog/ver-mas-arrow.png"></button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <img src="https://via.placeholder.com/285x230" alt="">
                    <p class="ess-text-title-post">
                        Reconocimeinto a Cooperativa Juanita y la inclusión social de Jovenes en PYMES...
                    </p>
                    <div class="ess-container-tag ess-container-small">
                        <a href="#">
                            Coopertaivas
                        </a>
                    </div>
                    <div class="ess-container-tag ess-container-small">
                        <a href="#">
                            Coopertaivas
                        </a>
                    </div>
                    <div class="ess-container-tag ess-container-small">
                        <a href="#">
                            Coopertaivas
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-auto ml-auto">
                            <button>Ver más <img src="../../../../assets/blog/ver-mas-arrow.png"></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://via.placeholder.com/285x314" alt="">
                    <p class="ess-text-title-post">
                        -Cooperativa Gloría
                    </p>
                    <div class="ess-container-tag ess-container-small">
                        <a href="#">
                            Coopertaivas
                        </a>
                    </div>
                    <div class="ess-container-tag ess-container-small">
                        <a href="#">
                            Coopertaivas
                        </a>
                    </div>
                    <div class="ess-container-tag ess-container-small">
                        <a href="#">
                            Coopertaivas
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-auto ml-auto">
                            <button>Ver más <img src="../../../../assets/blog/ver-mas-arrow.png"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>