<!--<div class="container mt-2">

</div>

<div class="container-fixed ">
  <div class="row">
    <div class="col-md-6 ess-fon ess-desc"></div>


      <div class="container-fixed pt-5 ess-asc ">
        <div class="row">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active ess-carrusel">
                      <img class="img-fluid" src="../../../assets/Placeholder.png" alt="First slide">


                  </div>
                  <div class="carousel-item ess-carrusel">
                      <img class="img-fluid" src="../../../assets/cafeT.png" alt="Second slide">


                  </div>
                  <div class="carousel-item ess-carrusel">
                      <img class=" img-fluid" src="../../../assets/cafeG.png" alt="Third slide">
                  </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>

      </div>
    </div>
    <div class="col-md-5 ">

      <div class="row">
        <div class="col">Cafe Organico del Sur</div>
      </div>
      <div class="row">
        <div class="col"><h1>-Café tostado</h1></div>
      </div>
      <div class="row">
        <div class="col">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </div>
      </div>
      <hr />

      <div class="row ess-desc">
        <div class="col">
          <div class="row">
            <div class="col">
             <strong class="mr-2">COMPARTIR</strong>
              <img class="mr-2" src="../../../assets/fbl.svg" alt="" />
              <img class="mr-2" src="../../../assets/instagram.svg" alt="" />
              <img class="mr-2" src="../../../assets/blanc.svg" alt="" />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="row">
                <div class="col">
                  <div class="ess-cert" aria-hidden="true"></div>
                  <div class="row">Certificación</div>
                </div>
                <div class="col">
                  <div class="ess-cert" aria-hidden="true"></div>
                  <div class="row">Certificación</div>
                </div>
                <div class="col">
                  <div class="ess-cert" aria-hidden="true"></div>
                  <div class="row">Certificación</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row">
            <div class="col"><strong>CONTACTO</strong> </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row mt-2">
                <div class="col">
                  <img class="mr-4" src="../../../assets/link.svg" alt="" />
                  tanchachintours.com
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <img
                    class="mr-4"
                    src="../../../assets/telefono.svg"
                    alt=""
                  />+5 51 3345 7890
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col"><strong>DE VENTA EN:</strong> </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <img
                class="mr-4"
                src="../../../assets/ubicacion.svg"
                alt=""
              />Morelos #19, Santa Cruz, Colima. México
            </div>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>
<div class="container">

  <div class="row ess-asc">
    <div class="col">
     <strong>COMPARTIR</strong>
      <img src="../../../assets/fbl.svg" alt="" />
      <img src="../../../assets/instagram.svg" alt="" />
      <img src="../../../assets/blanc.svg" alt="" />
    </div>
  </div>
  <hr class="ess-asc">
  <div class="row ess-asc">
    <div class="col">
      <div class="ess-cert" aria-hidden="true"></div>
      <div class="row">Certificación</div>
    </div>
    <div class="col">
      <div class="ess-cert" aria-hidden="true"></div>
      <div class="row">Certificación</div>
    </div>
    <div class="col">
      <div class="ess-cert" aria-hidden="true"></div>
      <div class="row">Certificación</div>
    </div>
  </div>
<hr class="ess-asc">
  <div class="row ess-asc">
    <div class="col">
      <div class="row">
        <div class="col"><strong>CONTACTO</strong> </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row mt-2">
            <div class="col">
              <img class="mr-4" src="../../../assets/link.svg" alt="" />
              tanchachintours.com
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <img
                class="mr-4"
                src="../../../assets/telefono.svg"
                alt=""
              />+5 51 3345 7890
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col"><strong>DE VENTA EN:</strong> </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <img
            class="mr-4"
            src="../../../assets/ubicacion.svg"
            alt=""
          />Morelos #19, Santa Cruz, Colima. México
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row ess-asc">
    <div class="col">
      <div class="row">
        <div class="col">Entrega a domicilio</div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <img src="../../../assets/truck.svg" alt="" />
        </div>
      </div>
    </div>


  </div>
  <hr class="ess-asc">
  <div class="row ess-asc">
    <div class="col">
      <div class="row">
        <div class="col">Medios de pago aceptados</div>
      </div>
      <div class="row">
        <div class="col">
          <mat-checkbox
            class="example-margin"
            [checked]="true"
            [disabled]="true"
            >Efectivo</mat-checkbox
          >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-checkbox
            class="example-margin"
            [checked]="true"
            [disabled]="true"
            >Transferencia electrónica</mat-checkbox
          >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-checkbox
            class="example-margin"
            checked="true"
            [disabled]="true"
            >Tarjeta de crédito o débito</mat-checkbox
          >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-checkbox class="example-margin" [disabled]="true"
            >CODI</mat-checkbox
          >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-checkbox class="example-margin" [disabled]="true"
            >PayPal</mat-checkbox
          >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-checkbox class="example-margin" [disabled]="true"
            >Mercado Pago</mat-checkbox
          >
        </div>
      </div>
    </div>
  </div>
<hr class="ess-asc">
  <div class="row ess-asc">
    <div class="col-md">
      <form>
        <div class="row">
          <div class="col-md-3">Evaluaciones</div>
          <div class="col-md">
            <input id="radio1" type="radio" name="estrellas" value="5" />
            <label for="radio1">★</label>
            <input id="radio2" type="radio" name="estrellas" value="4" />
            <label for="radio2">★</label>
            <input id="radio3" type="radio" name="estrellas" value="3" />
            <label for="radio3">★</label>
            <input id="radio4" type="radio" name="estrellas" value="2" />
            <label for="radio4">★</label>
            <input id="radio5" type="radio" name="estrellas" value="1" />
            <label for="radio5">★</label>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>



<div class="container-fixed ess-desc">
  <div class="row">
    <div class="col">
<div class="row">
  <div class="col">
<img class="img-fluid" src="../../../assets/cafeTasa.png" alt="">
  </div>
  <div class="col">
<img class="img-fluid" src="../../../assets/cafeGrano.png" alt="">
  </div>
</div>

    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">Entrega a domicilio</div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <img src="../../../assets/truck.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">

            <div class="col">
              <div class="row">
                <div class="col">Medios de pago aceptados</div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-checkbox
                    class="example-margin"
                    [checked]="true"
                    [disabled]="true"
                    >Efectivo</mat-checkbox
                  >
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-checkbox
                    class="example-margin"
                    [checked]="true"
                    [disabled]="true"
                    >Transferencia electrónica</mat-checkbox
                  >
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-checkbox
                    class="example-margin"
                    checked="true"
                    [disabled]="true"
                    >Tarjeta de crédito o débito</mat-checkbox
                  >
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-checkbox class="example-margin" [disabled]="true"
                    >CODI</mat-checkbox
                  >
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-checkbox class="example-margin" [disabled]="true"
                    >PayPal</mat-checkbox
                  >
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-checkbox class="example-margin" [disabled]="true"
                    >Mercado Pago</mat-checkbox
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<hr>
      <div class="row pt-3">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md">
              <form>
                <div class="row">
                  <div class="col-md-3">Evaluaciones</div>
                  <div class="col-md">
                    <input id="radio1" type="radio" name="estrellas" value="5" />
                    <label for="radio1">★</label>
                    <input id="radio2" type="radio" name="estrellas" value="4" />
                    <label for="radio2">★</label>
                    <input id="radio3" type="radio" name="estrellas" value="3" />
                    <label for="radio3">★</label>
                    <input id="radio4" type="radio" name="estrellas" value="2" />
                    <label for="radio4">★</label>
                    <input id="radio5" type="radio" name="estrellas" value="1" />
                    <label for="radio5">★</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-md">¿Qué opinan los usuarios?</div>
          </div>
          <div class="row pt-4">
            <div class="col-md">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae quod
              dignissimos, suscipit unde voluptatem repellat impedit cumque animi
              nihil. Sapiente nesciunt officiis repudiandae perferendis libero, in
              dolore eos cupiditate culpa!
            </div>
          </div>
          <div class="row pt-4">
            <div class="shadow bg-white rounded col-md">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
              laboriosam officiis magnam nisi ipsa illo, ea debitis error temporibus
              doloremque quisquam, obcaecati a soluta quidem? Aperiam quos quia
              laborum totam?
            </div>
          </div>

          <div class="row pt-4 desc">
            <div class="col-md-1">
              <img src="../../../assets/Emoji.svg" alt="" />
            </div>
            <div class="col-md-5">18 Ver más opiniones</div>
            <div class="col-md-1">
              <img src="../../../assets/fles.svg" alt="" />
            </div>
          </div>


          <div class="row text-center pt-2">
            <div class="col-md">
              <div class="row">
                <div class="col">
                  <img src="../../../../src/assets/" alt="" />
                </div>
              </div>

              <div class="row text-center">
                <div class="col">¿Quieres dejar algún comentario?</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt">
  <div class="row">
    <div class="col"><strong>Relacionados</strong></div>
  </div>
  <div class="row pt-2">
    <div class="col mb-3">
      <mat-card class="ess-card">
        <img
          mat-card-image
          src="../../../assets/Placeholder11.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h2 class="text-left">Café soluble</h2>
          <p class="text-left">
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div class="col mb-3">
      <mat-card class="ess-card">
        <img
          mat-card-image
          src="../../../assets/Placeholder-1.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h2 class="text-left">Café tostado</h2>
          <p class="text-left">
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div class="col mb-3">
      <mat-card class="ess-card">
        <img
          mat-card-image
          src="../../../assets/Placeholder-2.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h2 class="text-left">Bebida de café</h2>
          <p class="text-left">
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div class="col mb-3">
      <mat-card class="ess-card">
        <img
          mat-card-image
          src="../../../assets/Placeholder-3.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h2 class="text-left">Café en grano</h2>
          <p class="text-left">
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<app-newsletter-form></app-newsletter-form>

-->

<router-outlet></router-outlet>
