<div class="container mt-2">
  <div class="row text-left">
    <div class="col">
      <img src="../../../assets/logo_desarrolla.svg" width="200vw" height="150vh" alt="" srcset="">
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-md-6 text-center">
      <p class="ess-text-hightlight">Agrega bienes o servicios</p>
      <p class="ess-text-subtitle">
        ¿Puedes entregar tu producto o servicio a domicilio?
      </p>
    </div>

  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md text-center">

      <div class="row justify-content-center">

      <div class="row justify-content-center">
        <div class="col text-center">
          <button class="button_direccion" (click)="setValidet()" >
            si
          </button>
        </div>
        <div class="col text-center">
          <button class="button_direccion" (click)="setValideti()" >
            no
          </button>
        </div>
      </div>


  </div>
</div>
