<app-nav></app-nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <div class="carousel slide" data-ride="carousel" id="carouselTitle">
        <div class="carousel-inner">
          <div class="carousel-item active ess-bg">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-5 pt-3">
                <div class="row mt-3 ess-position1">
                  <div class="col-md-12">
                    <p class="ess-tittle-2">HOGAR MUEBLES Y DECORACIÓN</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-11 ess-position text-wrap">
                    <p class="ess-tittle">
                      -Tranforma tus espacios con diseño mexicano
                    </p>
                  </div>
                  <div class="col-md-11 ess-position-mobile" style="display: none">
                    <p class="h1" style="color: white; font-family: Montserrat-Light">
                      -Tranforma tus espacios con diseño mexicano
                    </p>
                  </div>
                  <div class="col-md-1 ess-position2">
                    <div class="row text-left">
                      <div class="col-md-2"></div>
                      <div class="col">
                        <img src="../../../assets/Frame.svg" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row ess-position3">
                  <div class="col-md-12">
                    <img src="../../../assets/Loader.png" alt="" />
                  </div>
                </div>
              </div>
            </div>

            <a class="carousel-control-next" href="#carouselTitle" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="carousel-item ess-bg">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-5 pt-3">
                <div class="row mt-3 ess-position1">
                  <div class="col-md-12">
                    <p class="ess-tittle-2">HOGAR MUEBLES Y DECORACIÓN</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-11 ess-position text-wrap">
                    <p class="ess-tittle">
                      -Tranforma tus espacios con diseño mexicano
                    </p>
                  </div>
                  <div class="col-md-11 ess-position-mobile" style="display: none">
                    <p class="h1" style="color: white; font-family: Montserrat-Light">
                      -Tranforma tus espacios con diseño mexicano
                    </p>
                  </div>
                  <div class="col-md-1 ess-position2">
                    <div class="row text-left">
                      <div class="col-md-2"></div>
                      <div class="col">
                        <img src="../../../assets/Frame.svg" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row ess-position3">
                  <div class="col-md-12">
                    <img src="../../../assets/Loader.png" alt="" />
                  </div>
                </div>
              </div>
            </div>

            <a class="carousel-control-next" href="#carouselTitle" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="carousel-item ess-bg">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-5 pt-3">
                <div class="row mt-3 ess-position1">
                  <div class="col-md-12">
                    <p class="ess-tittle-2">HOGAR MUEBLES Y DECORACIÓN</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-11 ess-position text-wrap">
                    <p class="ess-tittle">
                      -Tranforma tus espacios con diseño mexicano
                    </p>
                  </div>
                  <div class="col-md-11 ess-position-mobile" style="display: none">
                    <p class="h1" style="color: white; font-family: Montserrat-Light">
                      -Tranforma tus espacios con diseño mexicano
                    </p>
                  </div>
                  <div class="col-md-1 ess-position2">
                    <div class="row text-left">
                      <div class="col-md-2"></div>
                      <div class="col">
                        <img src="../../../assets/Frame.svg" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row ess-position3">
                  <div class="col-md-12">
                    <img src="../../../assets/Loader.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-3">
  <div id="Controls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active ess-bg-b">
        <div class="row pt-2">
          <div class="col-md-4 mt-1 text-left home des-mov1 ml-4">
            Y apoya a la Economía Social y Solidaría de todo México, impulsa el
            <strong>COMERCIO JUSTO</strong> y haz tu despensa desde casa.
          </div>
          <div class="col-md-3 mt-4 quedate des-mov">#QuédateEnCasa</div>
          <div class="col-md-3 ml-4 mb-1 home positionText">
            Y apoya a la Economía Social y Solidaría de todo México, impulsa el
            <strong>COMERCIO JUSTO</strong> y haz tu despensa desde casa.
          </div>
          <div class="col-md-1 ess-p">
            <img class="img-fluid" style="max-width: 400%; height: auto" src="../../../assets/canasta.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="carousel-item ess-bg-b">
        <div class="row pt-2">
          <div class="col-md-4 mt-1 text-left home des-mov1 ml-4">
            Y apoya a la Economía Social y Solidaría de todo México, impulsa el
            <strong>COMERCIO JUSTO</strong> y haz tu despensa desde casa.
          </div>
          <div class="col-md-3 mt-4 quedate des-mov">#QuédateEnCasa</div>
          <div class="col-md-3 ml-4 mb-1 home positionText">
            Y apoya a la Economía Social y Solidaría de todo México, impulsa el
            <strong>COMERCIO JUSTO</strong> y haz tu despensa desde casa.
          </div>
          <div class="col-md-1 ess-p">
            <img class="img-fluid" style="max-width: 400%; height: auto" src="../../../assets/canasta.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="carousel-item ess-bg-b">
        <div class="row pt-2">
          <div class="col-md-4 mt-1 text-left home des-mov1 ml-4">
            Y apoya a la Economía Social y Solidaría de todo México, impulsa el
            <strong>COMERCIO JUSTO</strong> y haz tu despensa desde casa.
          </div>
          <div class="col-md-3 mt-4 quedate des-mov">#QuédateEnCasa</div>
          <div class="col-md-3 ml-4 mb-1 home positionText">
            Y apoya a la Economía Social y Solidaría de todo México, impulsa el
            <strong>COMERCIO JUSTO</strong> y haz tu despensa desde casa.
          </div>
          <div class="col-md-1 ess-p">
            <img class="img-fluid" style="max-width: 400%; height: auto" src="../../../assets/canasta.svg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <a class="carousel-control-next" href="#Controls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container ess-desc pt-3">
  <div class="row pt-3">
    <div class="col ess-des"><strong>DESTACADOS</strong></div>
  </div>
  <div class="row pt-3 justify-content-center">
    <div class="col-md-4">
      <img class="img-fluid ess-imageDes ess-size" src="{{ img }}" alt="" />
    </div>
    <div class="col-md-4">
      <img class="img-fluid ess-imageDes ess-size" src="{{ img1 }}" alt="" />
    </div>
    <div class="col-md-4">
      <img class="img-fluid ess-imageDes ess-size" src="{{ img2 }}" alt="" />
    </div>
  </div>
</div>

<div class="container ess-ascc pt-3">
  <div class="row">
    <div class="col ess-des"><strong>DESTACADOS</strong></div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="row-md">
        <div class="col-md">
          <img class="img-fluid ess-imageDes" src="{{ img }}" alt="" />
        </div>
        <div class="col-md">
          <img class="img-fluid ess-imageDes" src="{{ img1 }}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container ess-desc1 pt-5">
  <div class="row">
    <div class="col">
      <div class="ess-parent">
        <div class="col ess-absoT">
          <div class="col-md-1 pt-2" style="color: #235b4e; font-size: 200%">
            Turismo
          </div>
          <div class="col-md-4 pt-2">
            <p class="ess-tittle-1 ess-let">Explora y vive México</p>
          </div>
        </div>

        <img class="ess-image1" src="../../../assets/montared.png" />
        <img class="ess-image2" src="../../../assets/voladores.png" />
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col">
            <div class="row pt-2 pl-5">
              <div class="col-md-8" style="
                  font-family: Montserrat-Light;
                  font-size: 200%;
                  line-height: 30px;
                ">
                Conservemos el patrimonio natural de México
              </div>
            </div>
            <div class="row pt-3 pb-5 pl-5">
              <div class="col-md-6">
                Explorar nuestro país es toda una aventura, pero hacerlo de una
                manera responsable es una doble aventura. Descubre los destinos
                más importantes de Turismo de Economía Social.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container ess-asc1 pt-5">
  <div class="row justify-content-center">
    <div class="col-md-6" style="color: #235b4e; font-size: 200%">Turismo</div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <p class="ess-tittle-1 ess-let">Explora y vive México</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <img class="img-fluid ess-imageH" src="../../../assets/montared.png" />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <img class="img-fluid ess-imageH" src="../../../assets/voladores.png" />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1>Conservemos el patrimonio natural de México</h1>
    </div>
  </div>

  <div class="row pt-3 pb-5 justify-content-center">
    <div class="col-md-6">
      Explorar nuestro país es toda una aventura, pero hacerlo de una manera
      responsable es una doble aventura. Descubre los destinos más importantes
      de Turismo de Economía Social.
    </div>
  </div>
</div>

<div class="container-fixed pt-4 ess-fsl text-center ess-carruHom">
  <div class="row text-center">
    <div class="col-md">
      <p class="cat">Categorías de productos</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="carousel slide" data-ride="carousel" id="carouselTitle1">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col"></div>
              <div class="col-md">
                <div class="row">
                  <div class="col-md">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/artesanias.svg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col">
                    <a style="color: black" routerLink="/producto-categoria/Artesanías de México">
                      Artesanías de México</a>
                  </div>
                </div>
              </div>

              <div class="col-md">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/Bebidas.svg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col">
                    <a style="color: black" routerLink="/producto-categoria/Bebidas de México">
                      Bebidas de México</a>
                  </div>
                </div>
              </div>

              <div class="col-md">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/Despensa.svg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col">
                    <a style="color: black" routerLink="/producto-categoria/Despensa">
                      Despensa</a>
                  </div>
                </div>
              </div>

              <div class="col-md">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/listo para comer.svg" alt="" />
                    </div>
                    <div class="row mt-5">
                      <div class="col">Listo para comer</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/Cuidado personal.svg" alt="" />
                    </div>
                    <div class="row mt-5">
                      <div class="col">
                        <a style="color: black" routerLink="/producto-categoria/Cuidado personal">
                          Cuidado personal</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/Hogar muebles y decoracion.svg" alt="" />
                    </div>
                    <div class="row mt-5">
                      <div class="col">
                        <a style="color: black" routerLink="/producto-categoria/Hogar, Muebles y Decoración">Hogar,
                          Muebles y Decoración</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4"></div>
              </div>
              <div class="col"></div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col"></div>
              <div class="col-md">
                <div class="row">
                  <div class="col-md">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/joyeriaslider.svg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col">
                    <a style="color: black" routerLink="/producto-categoria/Joyería y accesorios">Joyería y
                      accesorios</a>
                  </div>
                </div>
              </div>

              <div class="col-md">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/piedrasslider.svg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col">
                    <a style="color: black" routerLink="/producto-categoria/Piedras y minerales">Piedras y minerales</a>
                  </div>
                </div>
              </div>

              <div class="col-md">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/gancho.svg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col">
                    <a style="color: black" routerLink="/producto-categoria/Ropa calzado y blancos">Ropa calzado y
                      blancos</a>
                  </div>
                </div>
              </div>

              <div class="col-md">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/listo para comer.svg" alt="" />
                    </div>
                    <div class="row mt-5">
                      <div class="col">
                        <a style="color: black" routerLink="/producto-categoria/Listo para comer">Listo para comer</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/deTemporadaslider.svg" alt="" />
                    </div>
                    <div class="row mt-5">
                      <div class="col">
                        <a style="color: black" routerLink="/producto-categoria/Listo para comer">De temporada</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/deTemporadaslider.svg" alt="" />
                    </div>
                    <div class="row mt-5">
                      <div class="col">
                        <a style="color: black" routerLink="/producto-categoria/De exportación">De exportación</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/organicosslider.svg" alt="" />
                    </div>
                    <div class="row mt-5">
                      <div class="col">
                        <a style="color: black" routerLink="/producto-categoria/Orgánicos">Orgánicos</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col"></div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#carouselTitle1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselTitle1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container pt-4 ess-fsl text-center ess-carruHom1">
  <div class="row text-center">
    <div class="col-md">
      <p class="cat">Categorías de productos</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="carousel slide" data-ride="carousel" id="carouselTitle2">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row justify-content-center">
              <div class="col-xs mr-4">
                <div class="row">
                  <div class="col-md">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/artesanias.svg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col">
                    <a style="color: black" routerLink="/producto-categoria/Artesanias de Mexico">
                      Artesanias de Mexico</a>
                  </div>
                </div>
              </div>

              <div class="col-xs mr-4">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/Bebidas.svg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col">
                    <a style="color: black" routerLink="/producto-categoria/Bebidas de México">
                      Bebidas de México</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row justify-content-center">
              <div class="col-xs mr-4">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/Despensa.svg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col">
                    <a style="color: black" routerLink="/producto-categoria/Despensa">
                      Despensa</a>
                  </div>
                </div>
              </div>

              <div class="col-xs mr-4">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/listo para comer.svg" alt="" />
                    </div>
                    <div class="row mt-5">
                      <div class="col">Listo para comer</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row justify-content-center">
              <div class="col-xs mr-4">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/listo para comer.svg" alt="" />
                    </div>
                    <div class="row mt-5">
                      <div class="col">Listo para comer</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs mr-4">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/Cuidado personal.svg" alt="" />
                    </div>
                    <div class="row mt-5">
                      <div class="col">
                        <a style="color: black" routerLink="/producto-categoria/Cuidado personal">
                          Cuidado personal</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row justify-content-center">
              <div class="col-xs mr-4">

                <div class="row">
                  <div class="col-md">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/joyeriaslider.svg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col">
                    <a style="color: black" routerLink="/producto-categoria/Joyería y accesorios">Joyería y
                      accesorios</a>
                  </div>
                </div>
              </div>

              <div class="col-xs mr-4">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/piedrasslider.svg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col">
                    <a style="color: black" routerLink="/producto-categoria/Piedras y minerales">Piedras y minerales</a>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="carousel-item">
            <div class="row justify-content-center">
              <div class="col-xs mr-4">

                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/gancho.svg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col">
                    <a style="color: black" routerLink="/producto-categoria/Ropa calzado y blancos">Ropa calzado y
                      blancos</a>
                  </div>
                </div>
              </div>

              <div class="col-xs mr-4">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/listo para comer.svg" alt="" />
                    </div>
                    <div class="row mt-5">
                      <div class="col">
                        <a style="color: black" routerLink="/producto-categoria/Listo para comer">Listo para comer</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="carousel-item">
            <div class="row justify-content-center">
              <div class="col-xs mr-4">

                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/deTemporadaslider.svg" alt="" />
                    </div>
                    <div class="row mt-5">
                      <div class="col">
                        <a style="color: black" routerLink="/producto-categoria/Listo para comer">De temporada</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs mr-4">
                <div class="row">
                  <div class="col">
                    <div class="ess-redes" aria-hidden="true">
                      <img class="ess-imagesli" src="../../../assets/organicosslider.svg" alt="" />
                    </div>
                    <div class="row mt-5">
                      <div class="col">
                        <a style="color: black" routerLink="/producto-categoria/Orgánicos">Orgánicos</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>



          <a class="carousel-control-prev" href="#carouselTitle2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselTitle2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container ess-white">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

<div class="container-fixed ess-fbj ess-desc1">
  <div class="container pt-4">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="ess-pad">
            <p class="ess-tittle-1">-Testimoniales</p>
          </div>
        </div>
        <div class="row">
          <div class="col ess-img1">
            <div class="row">
              <div class="col">
                <img src="../../../assets/tren.png" alt="" />
              </div>
            </div>
            <div class="row">
              <div class="col subtitle">- Cooperativa Gloría</div>
            </div>
            <div class="row ml-1">
              <div class="col">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="row">
          <div class="col ess-img2">
            <div class="row">
              <div class="col">
                <img src="../../../assets/senora.png" alt="" />
              </div>
            </div>
            <div class="row">
              <div class="col subtitle">- Cooperativa Gloría</div>
            </div>
            <div class="row ml-1">
              <div class="col">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="row ess-img3">
          <div class="col">
            <div class="row">
              <div class="col">
                <img src="../../../assets/trenn.png" alt="" />
              </div>
            </div>
            <div class="row">
              <div class="col subtitle">- Cooperativa Gloría</div>
            </div>
            <div class="row ml-1">
              <div class="col">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col ess-bj-Testi ess-desc1"></div>
</div>

<div class="container ess-fbj1 ess-asc1 pt-5">
  <div class="row justify-content-center">
    <div class="col">
      <div class="ess-pad">
        <p class="ess-tittle-1">-Testimoniales</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div class="row justify-content-center" name="car">
        <div class="col">
          <div class="row justify-content-center" name="title">
            <div class="col text-center">
              <img class="img-fluid" src="{{ img3 }}" alt="" />
            </div>
          </div>
          <div class="row" name="foto">
            <div class="col">
              <div class="row justify-content-center">
                <div class="col subtitle text-center">- Cooperativa Gloría</div>
              </div>
              <div class="row justify-content-center">
                <div class="col text-center">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" name="car">
        <div class="col">
          <div class="row" name="title">
            <div class="col text-center">
              <img class="img-fluid" src="{{ img4 }}" alt="" />
            </div>
          </div>
          <div class="row" name="foto">
            <div class="col">
              <div class="row">
                <div class="col text-center subtitle">- Cooperativa Gloría</div>
              </div>
              <div class="row">
                <div class="col text-center">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" name="car">
        <div class="col">
          <div class="row" name="title">
            <div class="col text-center">
              <img class="img-fluid text-center" src="{{ img5 }}" alt="" />
            </div>
          </div>
          <div class="row" name="foto">
            <div class="col">
              <div class="row">
                <div class="col subtitle text-center">- Cooperativa Gloría</div>
              </div>
              <div class="row">
                <div class="col text-center">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-newsletter-form></app-newsletter-form>
