<!--    Menu    -->
<app-nav></app-nav>
<!--    Establece el tipo de post a mostrar    -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yMzyleT2FqY" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-1 col-sm-12">
            <h1>Que es el Turismo Rural cuales son sus beneficios y sus características</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 offset-md-1 col-sm-12">
            <div class="row">
                <div class="col-md-6">
                    <p class="ess-text-author">
                        INAES - Ayla Angelos
                    </p>
                    <p class="ess-text-date">
                        10 February 2021
                    </p>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="ess-content">
                <p>
                    El turismo rural es un producto de bajo impacto ambiental y sociocultural, que tiene como finalidad realizar actividades de convivencia e interacción con una comunidad rural, de tal manera que se pueda conocer sus expresiones sociales, culturales y productivas. <br>
                    Esta clase de turismo es un acercamiento a las tradiciones de una comunidad, su folclore, ferias, fiestas, gastronomía y artesanías <br>
                    El turismo rural ha tenido una buena aceptación entre los turistas ya que su oferta es muy amplia y variada, sus productos pueden ir desde lo más sencillo hasta lo más elaborado en servicios turísticos, mientras que las condiciones contextuales de cada una de sus expresiones son el secreto de su encanto ya que siempre difieren una de la otra forma radical. <br>
                </p>
            </div>
            <div class="ess-container-tag">
                <a href="#">
                    Testimonios
                </a>
            </div>
            <div class="ess-container-tag">
                <a href="#">
                    Historias
                </a>
            </div>
            <div class="ess-container-tag">
                <a href="#">
                    Coopertaivas
                </a>
            </div>
        </div>
    </div>
    <app-post-relacionados></app-post-relacionados>
</div>





