<div id="accordion">
  <!--    Segundo acordeón    -->
  <div class="card" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link">
          POSTS
          <i class="bi bi-chevron-down"></i>
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <a href="#">
          Lista de posts
        </a>
        <a href="#">
          Crear post +
        </a>
      </div>
    </div>
  </div>
  <!--    Segundo acordeón    -->
  <div class="card" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed">
          USUARIOS
          <i class="bi bi-chevron-down"></i>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <a href="#">
          Ver usuarios
        </a>
        <a href="#">
          Crear usuario
        </a>
      </div>
    </div>
  </div>
  <!--    Tercer acordeón    -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed">
          Home Sliders
        </button>
      </h5>
    </div>
  </div>
</div>
