<div class="container mt-3">
  <div class="row text-left">
    <div class="col">
      <img src="../../../assets/logo_desarrolla.svg" width="130vw" height="100vh" alt="" srcset="" />
    </div>
  </div>
  <div class="row p-5">
    <div class="col-md">
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md"></div>
  </div>
  <div class="row">
    <div class="col-md text-center">
      <p class="ess-text-hightlight">Agrega producto o servicio</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md text-center">
      <button
        class="button_direccion"
        (click)="rediproduct()"
      >
        Producto
      </button>
      <button
        class="button_direccion"
        (click)="rediService()"
      >
        Servicio
      </button>
    </div>
  </div>
</div>
