<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h2 mat-dialog-title class="tittleM text-center" style="font-family: Montserrat-Bold; font-size: 24px;">
        ¡{{this.data.prov}} creado con exito!
      </h2>

    </div>
  </div>
  <mat-dialog-content class="mat-typography">
  <div class="row justify-content-center">
    <div class="col-md-4">

        <button mat-stroked-button class="buttonModall " (click)="rediPerfil()" style="width: 140px; height: 75px; font-family: Montserrat-Bold; font-size: 14;">
          VER PERFIL
        </button>

    </div>
    <div class="col-md-4">
      <button
          mat-stroked-button
          class="buttonModal "
          (click)="rediBienes()"
          style="width: 140px; height: 75px; white-space: pre-line; font-family:  Montserrat-Bold; font-size: 14; line-height: 20px;"
        >
          AGREGAR UN PRODUCTO O SERVICIO
        </button>

    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end"> </mat-dialog-actions>
</div>
