footer {
  background-color: #10312B !important;
  color: white !important;
}

a {
  color: white;
}

.ess-img-footer {
  width: 100vw;
}

ul {
  li {
    margin: 5px 0;
  }
}

p {
  margin: 0;
}

i {
  font-size: 1.5em;
}
