.ess-campos {
  // max-width: 440px;
  width: 100% !important;
}
.btn {
  white-space: normal;
  word-wrap: break-word;
}
::ng-deep .mat-checkbox-frame {
  border-color: gray;
}
::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #235b4e !important;
  font-size: 15px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #235b4e;
  font-size: 15px;
}


.mat-checkbox {
  margin-left:15px;
}

.cb-vertival {
  flex-flow: column;
}


mat-checkbox.text-wrap {
  label.mat-checkbox-layout {
    white-space: normal;
    word-wrap: break-word;
    font-size: 10px;
  }
}

.ess-textSize{
  @media (max-width: 800px) {
    font-size: 9px;
}

}
mat-label{
  font-family: Lato-Light;
  font-size: 16px;
}
mat-form-field{
   font-family: Lato-Regular;
   font-size: 17px;

}


.button_direccion{
  font-size: 17px;
 height: 40px;
  font-family: Montserrat-Regular;
  border-color: #B9B9B9 !important;
 color: #B9B9B9 !important;
 @media (max-width: 700px) {
  width: 200px;
  height: 100px;
  white-space: pre-wrap;
}
}
.button_direccion:hover{

 color: #FFFFFF !important;

}
.button_Actualizar{
font-family: Lato-Regular;
background-color: #C4C4C4 !important;
border-color: #C4C4C4 !important;
 color: #FFFFFF !important;
 font-size: 15px;
 width: 200px;
 }
 .ess-ds{
  @media (max-width: 700px) {
    padding-right:100px;
  }

}
